<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">
    
	<ui:define name="page_title">
		Add new item
	</ui:define>
	<ui:define name="title">
		Add new item
	</ui:define>
    
    <ui:define name="content">
    
    <h:form>
    	<p:messages id="messages" showDetail="true" autoUpdate="true" />
    	
        <p:outputLabel for="name">Name: </p:outputLabel>
     	<p:inputText id="name" value="#{itemModel.currentItem.name}" required="true"
     	requiredMessage="Name cannot be empty"/>
     	
     	<p:outputLabel for="weight">Weight: </p:outputLabel>
     	<p:inputText id="weight" value="#{itemModel.currentItem.weight}" required="true"
     	requiredMessage="Weigth cannot be empty"/>
     	
     	<p:outputLabel for="sector">Sector: </p:outputLabel>
     	<p:inputText id="sector" value="#{itemModel.currentItem.sector}" required="true"
     	requiredMessage="Sector cannot be empty" validatorMessage="Sector must be between 1 and 40">
     		<f:validateLongRange maximum="40" minimum="1" for="sector"></f:validateLongRange>
     	</p:inputText>
     	
     	<p:outputLabel for="date">Date: </p:outputLabel>
     	<p:inputText id="date" value="#{itemModel.currentItem.date}" required="true"
     	requiredMessage="Date cannot be empty">
     		<f:convertDateTime type="date" pattern="yyyy-MM-dd" />
     	</p:inputText>
     	
     	<p:commandButton value="Save" action="#{itemController.save}" update="@form"/>
     	<p:commandButton value="Cancel" action="#{itemController.cancel}" immediate="true"/>
    </h:form>

    </ui:define>
    
</ui:composition>