<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">
    
	<ui:define name="page_title">
		Add new client
	</ui:define>
	<ui:define name="title">
		Add new client
	</ui:define>
    
    <ui:define name="content">
        <h:form id="newCustomerForm">
        	
        	<p:messages id="messages" showDetail="true" autoUpdate="true" />
            
            <h:panelGrid columns="3">
                <h:outputText value="Name:"/>
                <h:inputText id="clientName" value="#{newClientBean.clientFirstName}" required="true"
						requiredMessage="Name cannot be empty"/>
                <h:message for="clientName"/>
                
                <h:outputText value="Surname:"/>
                <h:inputText id="clientSurname" value="#{newClientBean.clientLastName}" required="true"
                requiredMessage="Last name cannot be empty"/>
                <h:message for="clientSurname"/>
                
                <h:outputText value="Phone #:"/>
                <h:inputText id="clientPhoneNo" value="#{newClientBean.clientPhoneNumber}" required="true"
                requiredMessage="Phone number cannot be empty"/>
                <h:message for="clientPhoneNo"/>
                
                <h:outputText value="Date of birth:"/>
                <h:inputText id="birthDate" value="#{newClientBean.dateOfBirth}" required="true"
                requiredMessage="Date of birth cannot be empty">
                	<f:convertDateTime type="date" pattern="yyyy-MM-dd" />
                </h:inputText>
                <h:message for="birthDate"/>
                
                <p:selectOneButton id="type" value="#{newClientBean.clientType}" required="true"
                requiredMessage="Client type must be selected">
					<f:selectItem itemLabel="Simple" itemValue="SIMPLE" />
					<f:selectItem itemLabel="Loyal" itemValue="LOYAL" />
				</p:selectOneButton>
				<h:message for="type"/>
				
				
            </h:panelGrid>
            <h:commandButton action="#{newClientBean.save()}" value="Add"/>
        </h:form>
    </ui:define>
</ui:composition>
