<!DOCTYPE html>
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">
    
	<ui:define name="page_title">
		Client
	</ui:define>
	<ui:define name="title">
		Client
	</ui:define>
    
    <ui:define name="content">
    	<h:form>
			<p:dataTable class="table" value="#{clientModel.currentClient}" var="client">
				<f:facet name="header">
					Client
				</f:facet>
				<p:column headerText="First Name">
      				<h:outputText value="#{client.firstName}"/>
      			</p:column>
      			<p:column headerText="Last Name">
      				<h:outputText value="#{client.lastName}"/>
      			</p:column>
			</p:dataTable>
		</h:form>
		
		<br/>
		<br/>
		
		<h:form>
			<p:dataTable class="table" value="#{clientModel.currentClient.items}" var="item">
				<f:facet name="header">
					Items
				</f:facet>
				<f:facet name="header">
        			Invoice items
    			</f:facet>
      			<p:column headerText="Name">
      				<h:outputText value="#{item.name}"/>
      			</p:column>
      	    	<p:column headerText="Weight">
      				<h:outputText value="#{item.weight}"/>
      			</p:column>
      	    	<p:column headerText="Sector">
      				<h:outputText value="#{item.sector}"/>
      			</p:column>
      			<p:column headerText="Date">
      				<h:outputText value="#{item.date}"/>
      			</p:column>
      			<p:column headerText="Operations">
					<p:commandLink 
      					actionListener="#{itemController.delete(item)}" 
      					update="@form" value="Delete " immidiate="true">
					</p:commandLink>
      			</p:column>
			</p:dataTable>
			<p:commandLink action="#{itemController.create}" value="Add new item"/>
		</h:form>
    </ui:define>
    
</ui:composition>