<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">
    
	<ui:define name="page_title">
		Warning
	</ui:define>
	
	<ui:define name="title">
		Warning
	</ui:define>
    
    <ui:define name="content">
    
    	There already is user with such name, last name and birth date.

    </ui:define>
    
</ui:composition>