<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">

	<ui:define name="page_title">
		Report
	</ui:define>
	<ui:define name="title">
		Report
	</ui:define>
	
    <ui:define name="content">
        <h:form id="tableActionForm">
            <h:dataTable value="#{reportBean.clientListByItemCount}" var="client">
                <f:facet name="header">
                        5 clients having most items
                </f:facet>
                <h:column>
                    <f:facet name="header">
                        First Name
                    </f:facet>
                    <h:outputText value="#{client.firstName}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Last Name
                    </f:facet>
                    <h:outputText value="#{client.lastName}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Phone number
                    </f:facet>
                    <h:outputText value="#{client.phoneNumber}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Date of birth
                    </f:facet>
                    <h:outputText value="#{client.dateOfBirth}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Type
                    </f:facet>
                    <h:outputText value="#{client.type}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        No. of inventory
                    </f:facet>
                    <h:outputText value="#{clientListBean.getNumberOfInventory(client)}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Actions
                    </f:facet>
                    <p:commandLink action="#{clientListBean.overview(client)}"
						value="Overview "></p:commandLink>
                </h:column>
            </h:dataTable>
            
            
            <br/>
            <br/>
            
            <h:dataTable value="#{reportBean.clientListByWeigth}" var="client">
                <f:facet name="header">
                        5 clients having most item weigth
                </f:facet>
                <h:column>
                    <f:facet name="header">
                        First Name
                    </f:facet>
                    <h:outputText value="#{client.firstName}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Last Name
                    </f:facet>
                    <h:outputText value="#{client.lastName}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Phone number
                    </f:facet>
                    <h:outputText value="#{client.phoneNumber}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Date of birth
                    </f:facet>
                    <h:outputText value="#{client.dateOfBirth}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Type
                    </f:facet>
                    <h:outputText value="#{client.type}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Weigth
                    </f:facet>
                    <h:outputText value="#{reportBean.getWeightSum(client)}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Actions
                    </f:facet>
                    <p:commandLink action="#{clientListBean.overview(client)}"
						value="Overview "></p:commandLink>
                </h:column>
            </h:dataTable>
            
            <br/>
            
        </h:form>

   	</ui:define>
</ui:composition>
