<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
      
	<h:head>
  		<title>
  			<ui:insert name="page_title"></ui:insert>
  		</title>
  		<h:outputStylesheet name="styles.css"/>
	</h:head>

	<h:body>

		<div class="menu">
			<h:form>
				<p:tabMenu>
					<p:menuitem value="Home" outcome="main"/>
					<p:menuitem value="Report" outcome="report"/>
				</p:tabMenu>
			</h:form>
		</div>
		
		<div class="context">
			<h2>
				<ui:insert name="title"/>
			</h2>
		</div>
	
		<div class="context">
			<ui:insert name="content"/>
		</div>
  
	</h:body>
</html>
